* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.container {
    font-size: 1.5em;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
    padding: 1em 0;
}
li
{
    text-align: center;
}
nav li a {
    color: white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
}

nav li a:hover {
    opacity: 1;
}

.sidebar {
    background-color: #567bfb;
    padding: 1em;
    width: 10%;
}

nav {
    position: sticky;
    top: 0;
    margin: 5em auto;
}

.table {
    width: 90%;
    padding: 1em;
}

.table h1 {
    font-size: 40px;
    margin: 0 1em 1em;
}

.table table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 90%;
    column-gap: 1em;
    columns: 1em;
    border-color: #fff;
}

.table th {
    background-color: #2563eb;
    color: #fff;
}

.table tr:nth-child(odd) {
    background-color: #bfdbfe;
}

.table th,
.table td {
    padding: 15px;
}
.blue:hover{
    background-color: rgb(86, 221, 238);
    border-radius: 4px;
    box-shadow: black;
  }
  .blue{
    float: right;
    margin-right: 15%;
    width: 10%;
    margin-bottom: 15px;
    border-radius: 4px;
  }
