* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#comment_form input,
#comment_form textarea {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 8px 10px;
  outline: 0;
}

#comment_form input {
  width: 250px;
}

#comment_form textarea {
  width: 450px;
}

#comment_form input[type="submit"] {
  cursor: pointer;
  background: -webkit-linear-gradient(top, #efefef, #ddd);
  background: -moz-linear-gradient(top, #efefef, #ddd);
  background: -ms-linear-gradient(top, #efefef, #ddd);
  background: -o-linear-gradient(top, #efefef, #ddd);
  background: linear-gradient(top, #efefef, #ddd);
  color: #333;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
  background: -webkit-linear-gradient(top, #eee, #ccc);
  background: -moz-linear-gradient(top, #eee, #ccc);
  background: -ms-linear-gradient(top, #eee, #ccc);
  background: -o-linear-gradient(top, #eee, #ccc);
  background: linear-gradient(top, #eee, #ccc);
  border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
  background: -webkit-linear-gradient(top, #ddd, #aaa);
  background: -moz-linear-gradient(top, #ddd, #aaa);
  background: -ms-linear-gradient(top, #ddd, #aaa);
  background: -o-linear-gradient(top, #ddd, #aaa);
  background: linear-gradient(top, #ddd, #aaa);
  border: 1px solid #999;
}

#comment_form div {
  margin-bottom: 8px;
}

.container {
  font-size: 1.5em;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 1em 0;
}

li {
  text-align: center;
}

nav li a {
  color: white;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
}

nav li a:hover {
  opacity: 1;
}

.sidebar {
  background-color: #567bfb;
  padding: 1em;
  width: 100%;
  justify-content: center;
}

nav {
  position: sticky;
  top: 0;
  margin: 5em auto;
}

.table {
  width: 90%;
  padding: 1em;
}

.table h1 {
  font-size: 40px;
  margin: 0 1em 1em;
}

.table table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  width: 90%;
  column-gap: 1em;
  columns: 1em;
  border-color: #fff;
}

.table th {
  background-color: #2563eb;
  color: #fff;
}

.table tr:nth-child(odd) {
  background-color: #bfdbfe;
}

.table th,
.table td {
  padding: 15px;
}
.wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
